[Unit]
Description=Flask-app service
After=network.target

[Service]
WorkingDirectory=/home/nbasov/flask_app_docker/
ExecStart=/home/nbasov/flask_app_docker/venv/bin/python -m gunicorn app:app -b 0.0.0.0:80 -w 4
Restart=always

[Install]
WantedBy=multi-user.target
